<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.placreator">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pigsunglasses"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- FileProvider pour partager des fichiers avec d'autres applications -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.placreator.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Activités -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme.NoStatusBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityTheme"
            android:exported="false">
        </activity>

        <activity
            android:name=".NouvellePlaqueActivity"
            android:theme="@style/SecondaryActivityTheme"
            android:label="Nouvelle Plaque"
            android:exported="false">
        </activity>

        <activity
            android:name=".AnciennePlaqueActivity"
            android:theme="@style/SecondaryActivityTheme"
            android:label="Ancienne Plaque"
            android:exported="false">
        </activity>
    </application>

</manifest>
